body{
margin:0;
font-family:Arial, sans-serif;
background:linear-gradient(to right, #667eea, #764ba2);
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
}
/*Card*/
.card{
background-color:white;
padding:30px;
width:360px;
border-radius:15px;
box-shadow:0 15px 30px
rgba(0,0,0,0.2);
transition:0.3s;
}
/*hover effect*/
.card:hover{
transform:translateY(-5px);
}
/*Header*/
.profile-header{
display:flex;
align-items:center;
gap:20px;
margin-bottom:25px;
}
.profile-img{
width:90px;
hieght:90px;
border-radius:50%;
object-fit:cover;
}
/*Text*/
h1{
margin:0;
font-size:22px;
}
.username{
color:gray;
font-size:14px;
}
.role{
color:#777;
font-size:13px;
}
/*Section*/
.section{
margin-top:15px;
}
.section h2{
margin-bottom:8px;
}
/*Paragraph Readability*/
p{
line-height:1.5;
}
/*Skills*/
.skills{
display:flex;
flex-wrap:wrap;
gap:8px;
}
.skills span{
background-color:#5a67d8;
color:white;
padding:5px 10px;
border-radius:8px;
font-size:12px;
}
